@import "tailwindcss";

:root {
  --background: #0D0D0D;
  --foreground: #E1E1E1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D0D;
    --foreground: #E1E1E1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-neue-montreal), sans-serif;
}

.heading-xl {
  font-size: 120px;
  font-weight: 500;
  line-height: 90%;
  letter-spacing: normal;
}

.nav-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: normal;
}

